<header>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <img class="logo" src="assets/img/logo.jpg" alt="Nurhayat Keskin logo" />
    </div>
    <nav class="col-xs-12 col-sm-8">
      <a (click)="scrollTo(services)">ÇALIŞMALAR</a>
      <a (click)="scrollTo(bio)">BİYOGRAFİ</a>
      <a (click)="scrollTo(blog)" [hidden]="!posts.length">BLOG</a>
      <a (click)="scrollTo(contact)">İLETİŞİM</a>
    </nav>
  </div>
</header>

<section #services>
  <h1>ÇALIŞMALAR</h1>
  <div class="row">
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <h2>Çocuk, ergen, aile ve evlilik terapisti.</h2>
        <p>
          Çocuklarda ve ergenlerde görülen davranış problemlerleri; Okul başarısızlığı, dikkat
          eksikliği, hiperaktivite bozukluğu, korku, fobi, obsesyon, depresyon, korku, fobi, Ergen
          de kimlik karmaşası, Ebeveyn çatışması, okul problemi.
        </p>
        <p>
          Boşanma, ilişki sorunları, boşanma öncesi ve sonrası çocuk a yaklaşım nasıl olmalı, nasıl
          bir yol izlenmeli.
        </p>
      </div>
    </div>
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <h2>EMDR</h2>
        EMDR göz hareketiyle duyarsızlaştırma ve yeniden işleme: Bir çok farklı terapi ekollerinden
        öğeleri içeren,farklı tanı almış durumlara özel standartlaştırılmış protokolleri bulunan,
        bütüncül bir terapi yöntemidir.
      </div>
    </div>
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <h2>Gelişimsel testler</h2>
        <ul>
          <li>AGTE(Ankara gelişim tarama envanteri)</li>
          <li>Danver ll</li>
          <li>Wisc-R</li>
          <li>Projektif testler</li>
        </ul>
      </div>
    </div>
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <h2>Oyun terapisti</h2>
        <p>
          Oyun terapisi, tedirgin çocukların içe atılmış isteklerini, bilinç dışı korku ve
          yılgılarını öğrenmek ve davranış bozukluklarını gidermek için başvurulan bir tekniktir.
        </p>
        <p>
          Çocuğun problemlerini anlamak, onun duygularını ve tutumlarını keşfetmek ve çocuğu
          bunlarla yüzleştirerek çözüm getirmesini sağlamak için geliştirilmiş bir tekniktir.
        </p>
      </div>
    </div>
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <h2>Online danışmanlık ve terapi</h2>
      </div>
    </div>
    <div class="boxWrapper col-xs-12 col-xs-12 col-md-4">
      <div class="box">
        <img src="assets/img/icons/undraw_quality_time_wiyl.svg" alt="Çocuk terapisti" />
      </div>
    </div>
  </div>
</section>

<section #bio>
  <h1>BİYOGRAFİ</h1>
  <div class="row">
    <div class="col-xs-12 col-xs-12 col-md-4">
      <p>
        Hacettepe Üniversitesi Psikoloji bölümünden mezun olduktan sonra SSK Ankara Çocuk Hastanesi
        Bebek Servisi, SSK Ankara Çocuk Psikiyatri Kliniği, SSK Ankara Fizik Tedavi ve
        Rehabilitasyon Kliniği ve SSYB Dışkapı Eğitim ve Araştırma Hastanesi Çocuk Psikiyatri
        Kliniğinde görev yaptı.
      </p>
      <p>
        ODTÜ Klinik Psikoloji bölümünde Aile ve Evlilik Terapisi I ve II, 2006 yılında Danver II
        Gelişim Testi ve Psikoterapide Hipnodrama alanlarında eğitim almıştır.
      </p>
      <p>
        İstanbul Davranış Bilimleri Enstitüsü EMDR eğitiminin ardından uzun yıllar Madalyon
        Psikiyatri merkezinde çocuk, ergen ve aile terapisi konularında uzman danışman olarak görev
        yapmıştır.
      </p>
      <p>
        Bir yıl süresince Çocuk Nörolojisi Derneği’nde eğitimler aldıktan sonra yine bu dernekte
        uzman psikolog olarak hasta değerlendirmelerine katkıda bulunmuştur.
      </p>
      <p>
        Bu görevlerinin yanı sıra 1998 – 2016 yılları arasında Alican Eğitim Kurumları’nda kurucu
        psikolog olarak görev yapmıştır. 2016 yılından itibaren Katarsis Psikolojik Danışmanlık
        Merkezinde çalışmalarına devam etmektedir.
      </p>
    </div>
    <div class="col-xs-12 col-xs-12 col-md-4">
      <img class="bio-img" src="assets/img/bio.jpg" alt="Nurhayat Keskin" />
      <h2>Psikolog Nurhayat Keskin</h2>
    </div>
    <div class="col-xs-12 col-xs-12 col-md-4">
      <h2>Zeka ve Gelişim Testleri</h2>
      <ul>
        <li>WISC-R (Wechsler Çocuklar için Zeka Ölçeği)</li>
        <li>Stanford-Bined Zeka Testi</li>
        <li>Denver Gelişimsel Tarama Testi</li>
        <li>Ankara Gelişim Tarama Envanteri</li>
      </ul>
      <h2>Projektif Testler</h2>
      <ul>
        <li>C.A.T (Çocuk Algı ve Kişilik Testi)</li>
        <li>Louisa Düss Psikanalitik Hikayeler Testi</li>
        <li>Goodenough Harris İnsan Çiz Testi</li>
        <li>Dikkat Eksikliği ve Hiperaktivite</li>
        <li>Disleksi (Öğrenme Bozukluğu)</li>
        <li>
          Çocuk ve Ergenlerde Davranım Bozuklukları için DSMV-IV’e Dayalı Tarama ve Değerlendirme
          Testi
        </li>
        <li>Dikkat Testleri (Bender Gestalt)</li>
        <li>Conners Anne-Baba Değerlendirme Ölçeği</li>
      </ul>
      <p>
        T.C Sağlık bakanlığınca 1219 sayılı kanunun geçici 7. Maddesi doğrultusunda yapılan
        “psikolojinin Tıbbi uygulamalarında yetkilendirme“ sınavı sonucu yetkilendirilmiştir. (Yetki
        belgesi alınmıştır)
      </p>
    </div>
  </div>
</section>

<section #blog class="blog" [hidden]="!posts.length">
  <h1>BLOG</h1>
  <div class="row">
    <div class="boxWrapper col-xs-12 col-md-4">
      <img src="assets/img/icons/undraw_blogging_vpvv.svg" alt="Blog" />
    </div>
    <div class="boxWrapper col-xs-12 col-md-4" *ngFor="let post of posts; let index = index">
      <div class="box">
        <h2>
          {{ post.header }}
        </h2>
        <p>
          {{ post.content }}
        </p>
      </div>
    </div>
  </div>
</section>

<section #contact>
  <h1>İLETİŞİM</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <address>
        <div>ADRES BİLGİLERİ BURADA</div>
      </address>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Görüşme Alternatifleri</h2>
      <ul>
        <li>Telefonla terapi</li>
        <li>Görüntülü arama ile terapi</li>
        <li>Yüzyüze Görüşme ( Ankara )</li>
      </ul>
      <p>Görüşmeler 50 dk sürmektedir. İlk tanışma ve tanı seansı 15dk ve ücretsizdir.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <a class="col-xs-12 col-sm-4 link-img" href="mailto:info@nurhayatkeskin.com">
          <img src="assets/img/icons/undraw_envelope_n8lc.svg" alt="E-posta" />
          <h5>E-posta Gönder</h5>
        </a>
        <a class="col-xs-12 col-sm-4 link-img" href="tel:+905323347327">
          <img src="assets/img/icons/undraw_phone_call_grmk.svg" alt="Telefon" />
          <h5>Telefon Et</h5>
        </a>
        <a class="col-xs-12 col-sm-4 link-img" href="https://www.instagram.com/nurhayat_keskin_d/">
          <img src="assets/img/icons/undraw_Social_life_re_x7t5.svg" alt="Instagram" />
          <h5>Takip Et</h5>
        </a>
      </div>
    </div>
  </div>
</section>
