<section>
  <h1>INTRO</h1>
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/img/logo.jpg" alt="Nurhayat Keskin logo" />
    </div>
  </div>
</section>
<section>
  <h1>İLETİŞİM</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="assets/img/icons/undraw_phone_call_grmk.svg" alt="Telefon" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <address>
        <div>ADRES BİLGİLERİ BURADA</div>
        <div>
          <a href="mailto:info@nurhayatkeskin.com">Send mail</a>
        </div>
        <div>
          <a href="tel:+905323347327">+90 532 334 73 27</a>
        </div>
        <div>
          <a href="https://www.instagram.com/nurhayat_keskin_d/">Instagram</a>
        </div>
      </address>
      <h3>Görüşme Alternatifleri</h3>
      <ul>
        <li>Telefonla terapi</li>
        <li>Görüntülü arama ile terapi</li>
        <li>Yüzyüze Görüşme ( Ankara )</li>
      </ul>
      <p>Görüşmeler 50 dk sürmektedir. İlk tanışma ve tanı seansı 15dk ve ücretsizdir.</p>
    </div>
  </div>
</section>

<section>
  <h1>BİYOGRAFİ</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="assets/img/bio.jpg" alt="Nurhayat Keskin" />
      <ul>
        <li>Psikolog Nurhayat Keskin</li>
        <li>Çocuk, ergen, aile ve evlilik terapisti.</li>
        <li>EMDR</li>
        <li>Gelişimsel testler.</li>
        <li>Oyun terapisti.</li>
        <li>Online danışmanlık ve terapi.</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>
        Hacettepe Üniversitesi Psikoloji bölümünden mezun olduktan sonra SSK Ankara Çocuk Hastanesi
        Bebek Servisi, SSK Ankara Çocuk Psikiyatri Kliniği, SSK Ankara Fizik Tedavi ve
        Rehabilitasyon Kliniği ve SSYB Dışkapı Eğitim ve Araştırma Hastanesi Çocuk Psikiyatri
        Kliniğinde görev yaptı.
      </p>
      <p>
        ODTÜ Klinik Psikoloji bölümünde Aile ve Evlilik Terapisi I ve II, 2006 yılında Danver II
        Gelişim Testi ve Psikoterapide Hipnodrama alanlarında eğitim almıştır.
      </p>
      <p>
        İstanbul Davranış Bilimleri Enstitüsü EMDR eğitiminin ardından uzun yıllar Madalyon
        Psikiyatri merkezinde çocuk, ergen ve aile terapisi konularında uzman danışman olarak görev
        yapmıştır.
      </p>
      <p>
        Bir yıl süresince Çocuk Nörolojisi Derneği’nde eğitimler aldıktan sonra yine bu dernekte
        uzman psikolog olarak hasta değerlendirmelerine katkıda bulunmuştur.
      </p>
      <p>
        Bu görevlerinin yanı sıra 1998 – 2016 yılları arasında Alican Eğitim Kurumları’nda kurucu
        psikolog olarak görev yapmıştır. 2016 yılından itibaren Katarsis Psikolojik Danışmanlık
        Merkezinde çalışmalarına devam etmektedir.
      </p>
      <p>Çocuklar üzerine yaptığı klinik çalışmalarda uyguladığı testler;</p>
      <h3>Zeka ve Gelişim Testleri</h3>
      <ul>
        <li>WISC-R (Wechsler Çocuklar için Zeka Ölçeği)</li>
        <li>Stanford-Bined Zeka Testi</li>
        <li>Denver Gelişimsel Tarama Testi</li>
        <li>Ankara Gelişim Tarama Envanteri</li>
      </ul>
      <h3>Projektif Testler</h3>
      <ul>
        <li>C.A.T (Çocuk Algı ve Kişilik Testi)</li>
        <li>Louisa Düss Psikanalitik Hikayeler Testi</li>
        <li>Goodenough Harris İnsan Çiz Testi</li>
        <li>Dikkat Eksikliği ve Hiperaktivite</li>
        <li>Disleksi (Öğrenme Bozukluğu)</li>
        <li>
          Çocuk ve Ergenlerde Davranım Bozuklukları için DSMV-IV’e Dayalı Tarama ve Değerlendirme
          Testi
        </li>
        <li>Dikkat Testleri (Bender Gestalt)</li>
        <li>Conners Anne-Baba Değerlendirme Ölçeği</li>
      </ul>
      <p>
        T.C Sağlık bakanlığınca 1219 sayılı kanunun geçici 7. Maddesi doğrultusunda yapılan
        “psikolojinin Tıbbi uygulamalarında yetkilendirme“ sınavı sonucu yetkilendirilmiştir. (Yetki
        belgesi alınmıştır)
      </p>
      <img src="assets/img/icons/undraw_quality_time_wiyl.svg" alt="Çocuk terapisti" />
    </div>
  </div>
</section>

<section class="blog" *ngIf="posts.length">
  <h1>BLOG</h1>
  <div *ngFor="let post of posts">
    <h2>
      {{ post.header }}
    </h2>
    <p>
      {{ post.content }}
    </p>
  </div>
</section>
