/* You can add global styles to this file, and also import other style files */
* {
  text-align: center;
  line-height: 1.5em;
}
.text-primary {
  color: #7c9494;
}
.text-center {
  text-align: center;
}
.p-0 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #7c9494;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img {
  display: block;
  margin: 0;
  padding: 1rem 0;
}
section {
  margin: 2em 0;
  padding: 2rem;
  // background-color: #fbfbfb;
  h1:first-child {
    font-size: clamp(2rem, 10vw, 3rem);
  }
}
body {
  font-family: 'Roboto', sans-serif;
  // padding-top: 150px;
}
a {
  cursor: pointer;
}
ul {
  list-style-type: none;
  li {
    margin: 0;
  }
}
img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
header {
  // position: fixed;
  // height: 150px;
  width: 100%;
  // top: 0;
  // left: 0;
  background-color: #7c9494;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  .row {
    height: 100%;
  }
  .logo {
    // max-width: calc(150px - 2rem);
    max-width: 150px;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    a {
      font-size: clamp(1rem, 1.2vw, 2rem);
      padding: 1rem;
    }
  }
}
.bio-img {
  padding: 0;
  border-radius: 50%;
  border: 2px solid #7c9494;
}
.link-img {
  text-decoration: none;
  img {
    height: 200px;
    transition: all 0.3s ease-out;
  }
  img:hover {
    transform: scale(0.9);
  }
  h5 {
    color: #7c9494;
    font-size: 1rem;
  }
}
.blog {
  white-space: pre-line;
}
.boxWrapper {
  padding: 1.5rem;
}
.box {
  height: 100%;
  padding: 0 2rem;
  background-color: #7c9494;
  // background-image: linear-gradient(to bottom right, #7c9494, #969380);
  box-shadow: 3px 3px 1rem #7c9494;
  border-radius: 1rem;
  color: white;
  h2 {
    color: white;
  }
  p,
  ul li {
    text-align: left;
  }
}
